.main {
  width: 600px;
  margin: 0 auto;
}


.stepsContent {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 20px;
}

.stepsAction {
  margin-top: 24px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
