@import '~antd/lib/style/themes/default.less';
.standardTable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /** overflow: hidden;**/
  z-index: 1;
  /**overflow-y: scroll;**/
  :global {
    .letter-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .ant-table {
      height: 100%;
    }
    /**兼容Firefox、IE表头**/
    .ant-table-header {
      margin-bottom: 0 !important;
    }
    .ant-table-body {
      position: absolute !important;
      top: 32px;
      left: 0;
      right: 0;
      bottom: 27px;
    }
    .ant-table-pagination {
      position: absolute;
      bottom: 4px;
      right: 0;
      margin: 0 !important;
    }
    .ant-table-wrapper {
      height: 100%;
      .ant-spin-nested-loading {
        height: 100%;
        .ant-spin-container {
          height: 100%;
        }
      }
    }
    table tr.tableCss td {
      background: #f9f9f9;
    }
    table tr.tableOrangeRed td {
      background: orange;
    }
    table tr.red td {
      background: #ec03035c;
    }

    .ant-table-thead > tr.ant-table-row-hover > td,
    .ant-table-tbody > tr.ant-table-row-hover > td,
    .ant-table-thead > tr:hover > td,
    .ant-table-tbody > tr:hover > td {
      background: rgb(226, 239, 250);
    }

    .ant-table-column-sorter {
      margin-left: 0;
      margin-top: -4px;
      width: 14px;
      height: 14px;
    }

    table th {
      background: #f3f7fc !important;
      text-align: center !important;
      color: #285fa6 !important;
    }
    table tr .ant-table-selection-column {
      width: 30px !important;
    }
    .ant-table-thead > tr th:nth-last-of-type(1),
    .ant-table-tbody > tr td:nth-last-of-type(1) {
      border-right: 1px solid #e8e8e8 !important;
    }
    .ant-table-bordered .ant-table-thead > tr > th {
      border-right: 1px solid #e8e8e8 !important;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}
